*.pyc
*.pyo
*.tif
*.tiff
*.DS_Store
.idea
build
dist
cottoncandy
alpenglow.egg-info/
venv
notebooks/.ipynb_checkpoints/
data/
.pants.d
.pids
.pants.workdir.file_lock
.cache
venv_heron
heron-install-*.sh
ansible/hosts/*
