*.pyc
*.pyo
*.tif
*.tiff
*.DS_Store
.idea
build
dist
cottoncandy
alpenglow.egg-info/
venv
notebooks/.ipynb_checkpoints/
data/
dask-worker-space/
results/
.pants.d
.pids
.pants.workdir.file_lock
.cache
venv_*
heron-install-*.sh
ansible/hosts/*
ansible/*.retry
ansible/roles/common/files/id_rsa*
